#header{
    --background: #356859;
}
ion-title{
    color: black;
}

ion-content{
    --background :#B9E4C9
} 

#friends{
    --background :#B9E4C9;
      color: black;
}

#groups{
    --background :#B9E4C9;
      color: black;
}

#transaction{
    --background :#B9E4C9;
    color: black;
}