ion-content{
    --background :#B9E4C9;
    color:white;
}

#profilepic{
    
    color: black;
    --background: transparent;
    --background-activated:transparent;
}
#searchbut{
    margin-left: 70%;
    color: black;
    --background: transparent;
    --background-activated:transparent;
}
#header-items{
    --background:#356859;
}
#menubut{
    --background: transparent;
    --background-activated:transparent;
    color:black;
}