ion-content{
    --background :#B9E4C9;
    color:white;
}

#profilepic{
    font-size:medium;
    color:#B9E4C9;
    margin-right: 1mm;
    --background: transparent;
    --background-activated:transparent;
}
#searchbut{
    font-size: medium;
    margin-left: 40%;
    color:#B9E4C9;
    --background: transparent;
    --background-activated:transparent;
}
#header{
    --background:#356859;
}
#menubut{
    font-size: medium;
    --background: transparent;
    --background-activated:transparent;
    color:#B9E4C9;
}