.content{
    --background :#B9E4C9;
  }

#login{
    --color: #B9E4C9;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100%;
    --background: #356859;
    font-weight: bold;
    --background-activated:#37966f;
    --color-activated:#356859;
}

#signup{
    margin-top: 5%;
    --color: #B9E4C9;
    margin-left: 10%;
    margin-right: 10%;
    --background: #356859;
    font-weight: bold;
    --background-activated:#37966f;
    --color-activated:#356859;
}