.content{
  --background :#B9E4C9;
}

  #back{
    margin-top: 5%;
    margin-left: 5%;
    --color: #356859;
    --background: transparent;
    --background-activated:#356859;
    --color-activated:#101820;
}
  
  .content h1{
    margin-top: 10%;
    margin-left: 37%;
    color:#356859;
    margin-right: 37%;
    text-align: center;
   padding-top: 1mm;
   font-weight: bold;
   padding-bottom: 1mm;
  
  }

  #signup{
    margin-left: 75%;
    margin-top: 14%;
    font-size: larger;  
    background-color:#356859;
    color:#B9E4C9;
    padding-top: 2mm;
    padding-bottom: 2mm;
  }
 #username{
  border: 3px solid;
  --background: #fffbe6;
  border-color: #356859;
  color: #356859;
  font-weight:bold;
  font-size: larger;
     margin-top: 50px;
     margin-left: 10%;
     margin-right: 10%;
 }
 #email{
  border: 3px solid;
  --background: #fffbe6;
  border-color: #356859;
  color: #356859;
  font-weight:bold;
  font-size: larger;
    margin-top: 20px;
    margin-left: 10%;
     margin-right: 10%;
 }

 #password{
  border: 3px solid;
  --background: #fffbe6;
  border-color: #356859;
  color: #356859;
  font-weight:bold;
  font-size: larger;
     margin-top: 20px;
     margin-left: 10%;
     margin-right: 10%;
 }
 #phone{
  border: 3px solid;
  --background: #fffbe6;
  border-color: #356859;
  color: #356859;
  font-weight:bold;
  font-size: larger;
     margin-top: 20px;
     margin-left: 10%;
     margin-right: 10%;
 }