
<ion-content class="content">

    <ion-button id="back" (click)="gotoFront()" >  <ion-icon  name="chevron-back-outline"></ion-icon></ion-button>

  <h1>Sign up</h1>
  <form (ngSubmit)="gotoLogin()">
    <ion-item id="username">
      <ion-label position="stacked" >Username<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text"  [(ngModel)] = "user.username" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>
    <ion-item id="email">
      <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="email" [(ngModel)] = "user.email" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>
    <ion-item id="password">
      <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)] = "user.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item id="phone">
      <ion-label position="stacked">Phone number<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)] = "user.phone" [ngModelOptions]="{standalone: true}" ></ion-input>
    </ion-item>
      <button id="signup" ion-button type="submit" block>Done</button>
  </form>
</ion-content>