
<ion-content class="content">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Split up and save with your peers</h1>
      <button id="skip" (click)="gotoFront()">skip</button>
    </ion-slide>
    <ion-slide>
      <h1>Sharing money made easier</h1>
      <button id="skip" (click)="gotoFront()">skip</button>
    </ion-slide>
    <ion-slide>
      <h1>Manage your transactions efficiently</h1>
      <button id="skip" (click)="gotoFront()">skip</button>
    </ion-slide>
  </ion-slides>
  
</ion-content>