

ion-slides {
  height: 100%;
  background-color: #347B98;
  --bullet-background:black;
  --bullet-background-active: #101820;
}

ion-slides h1{
  margin-left: 2.7em;
  color: #101820;
  font-weight: bold;
}

#skip{
 
  margin-top: 600px;
  margin-right: 25px;
  background:transparent;
  font-size: larger;
  color:#101820;
  
}

