

ion-slides {
  height: 100%;
  background-color: #B9E4C9;
  --bullet-background:black;
  --bullet-background-active: #356859;
}

ion-slides h1{
  margin-left: 2.7em;
  color: #356859;
  font-weight: bold;
}

#skip{
 
  margin-top: 600px;
  margin-right: 25px;
  background:transparent;
  font-size: larger;
  color:#356859;
  
}

