ion-content{
    --background :#B9E4C9;
    color:white;
}

#selectedUsers{
    --background: #B9E4C9;position: relative;
   position: -webkit-sticky;
   position: sticky;
   top: 0;

}

#back{
    margin-top: 5mm;
    --background: transparent;
    --background-activated:transparent;
    color:#356859;
}


#title{
   
    color: #356859;
    margin-top:5mm;
    margin-left: 7mm;
    font-weight: bold;
    font-size: larger;
}
#cross{
    color:red;
    margin-bottom: 1px;
    margin-left: 0px;
}
#addmemb{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#356859;
    color: white;
    text-align: center;
}

#scrollbar{
    position: static;
    background-color: #356859;    width: 100%;
    margin-bottom: 36px;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
}